<%--
  Created by IntelliJ IDEA.
  User: ilyas
  Date: 10.12.14
  Time: 0:48
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
    <div id="header">HEADER</div>
    <g:layoutBody/>
    <div id="footer">FOOTER</div>
</body>
</html>