<%--
  Created by IntelliJ IDEA.
  User: ilyas
  Date: 11.12.14
  Time: 1:14
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
    <h1>Plugin template - create</h1>
</body>
</html>